/* 
--------------- 
Reset
--------------- 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
--------------- 
Common
--------------- 
*/
body{
  font-family: 'Fredoka', sans-serif;;
}

/* 
--------------- 
Header
--------------- 
*/
h1{
  text-align: center;
  margin-top: 20px;
  color: #e53170;
}

/* 
--------------- 
Main
--------------- 
*/
.container{
  width: 80%;
  margin: 40px auto 0;
}

.container:first-child{
  text-align: center;
}

